<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>ngImgCrop Test Page</title>
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
  <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>-->
  <script type="text/javascript" src="../compile/unminified/ng-img-crop.js"></script>
  <link rel="stylesheet" href="../node_modules/skeleton-css/css/normalize.css"/>
  <link rel="stylesheet" href="../compile/unminified/ng-img-crop.css"/>
  <link rel="stylesheet" href="../node_modules/skeleton-css/css/skeleton.css"/>
  <style>
    .cropArea {
      background: #E4E4E4;
      margin: auto;
      overflow: hidden;
    }
    .cropArea.big {
      width:800px;
      height:600px;
    }
    .cropArea.medium {
      width:500px;
      height:350px;
    }
    .cropArea.small {
      width:300px;
      height:200px;
    }
    .content-block {
      margin-top: 2rem;
      border-top: 3px solid #eee;
      padding-top: 2rem;
    }
  </style>
</head>
<body ng-controller="Ctrl">

<div class="container">

  <div class="options">

    <h4>Options</h4>

    <div class="row">
      <div class="four columns" title="The size of the demo container">
        <label>Container size</label>
        <select class="u-full-width" ng-model="size">
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="big">Big</option>
        </select>
      </div>

      <div class="four columns" title="The crop area's shape">
        <label>Area Type</label>
        <select class="u-full-width" ng-model="type">
          <option value="circle">Circle</option>
          <option value="square">Square</option>
        </select>
      </div>

      <div class="four columns" title="The crop area's minimum width and height">
        <label>Area Min Size</label>
        <input class="u-full-width" type="text" ng-model="selMinSize" />
      </div>
    </div>


    <div class="row">
      <div class="four columns" title="The resulting image's width & height in px, or the value 'auto'">
        <label>Result Size</label>
        <input class="u-full-width" type="text" ng-model="resImgSize" />
      </div>

      <div class="four columns" title="The resulting image's quality (0 <= x <= 1)">
        <label>Result Quality</label>
        <input class="u-full-width" type="text" ng-model="resImgQuality" />
      </div>

      <div class="four columns">
        <label>Result Format</label>
        <select class="u-full-width" ng-model="resImgFormat">
          <option value="image/jpeg">image/jpeg</option>
          <option value="image/png">image/png</option>
          <option value="image/webp">image/webp</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="four columns" title="Color of the overlay covering the discarded part of the image (hex or rgb)">
        <label>Overlay Color</label>
        <input class="u-full-width" type="text" ng-model="overlayColor" />
      </div>

      <div class="four columns" title="Opacity of the overlay covering the discarded part of the image (0 <= x <= 1)">
        <label>Overlay Opacity</label>
        <input class="u-full-width" type="text" ng-model="overlayOpacity" />
      </div>

      <div class="four columns" title="Opacity of the overlay covering the discarded part of the image (0 <= x <= 1)">
        <label>Change on the fly</label>
        <button ng-show="changeOnFly" class="button-primary u-full-width" ng-click="changeOnFly=false;">True</button>
        <button ng-show="!changeOnFly" class="u-full-width" ng-click="changeOnFly=true;">False</button>
      </div>
    </div>
  </div>



  <form class="content-block">
    <div class="row">
      <h4 class="u-pull-left">Image</h4>
      <button class="button-primary u-pull-right" ng-click="imageDataURI=''">Clear</button>
    </div>

    <div class="row">
      <div class="four columns">
        <label class="button u-full-width" for="fileInput">Upload Image</label><input class="ng-hide" type="file" id="fileInput" />
      </div>

      <div class="four columns">
        <button class="u-full-width" ng-click="inputImageUrl()">Enter URL</button>
      </div>

      <div class="four columns">
        <button class="u-full-width" ng-click="imageDataURI='test.jpg'">Use Sample</button>
      </div>
    </div>
  </form>


  <div ng-if="imageDataURI" class="cropArea" ng-class="{'big':size=='big', 'medium':size=='medium', 'small':size=='small'}">
    <img-crop image="imageDataURI"
              result-image="$parent.resImageDataURI"
              change-on-fly="changeOnFly"
              area-type="{{type}}"
              area-min-size="selMinSize"
              result-image-format="{{resImgFormat}}"
              result-image-quality="resImgQuality"
              result-image-size="resImgSize"
              overlay-color="overlayColor"
              overlay-opacity="overlayOpacity"
              on-change="onChange($dataURI)"
              on-load-begin="onLoadBegin()"
              on-load-done="onLoadDone()"
              on-load-error="onLoadError()"
    ></img-crop>
  </div>

  <div class="content-block" ng-if="imageDataURI && resImageDataURI">
    <h4>Result</h4>
    <img ng-src="{{resImageDataURI}}" />
  </div>

</div>


  <script type="text/javascript">
    angular.module('app', ['ngImgCrop'])
      .controller('Ctrl', function($scope) {
        $scope.size='small';
        $scope.type='circle';
        $scope.imageDataURI='';
        $scope.resImageDataURI='';
        $scope.resImgFormat='image/png';
        $scope.resImgQuality=1;
        $scope.selMinSize=100;
        $scope.resImgSize=200;
        //$scope.aspectRatio=1.2;
        $scope.onChange=function($dataURI) {
          console.log('onChange fired');
        };
        $scope.onLoadBegin=function() {
          console.log('onLoadBegin fired');
        };
        $scope.onLoadDone=function() {
          console.log('onLoadDone fired');
        };
        $scope.onLoadError=function() {
          console.log('onLoadError fired');
        };
        $scope.inputImageUrl=function() {
          var input = window.prompt('Enter the image URL');
          if (input) {
            $scope.imageDataURI = input;
          }
        };
        var handleFileSelect=function(evt) {
          var file=evt.currentTarget.files[0];
          var reader = new FileReader();
          reader.onload = function (evt) {
            $scope.$apply(function($scope){
              $scope.imageDataURI=evt.target.result;
            });
          };
          reader.readAsDataURL(file);
        };
        angular.element(document.querySelector('#fileInput')).on('change',handleFileSelect);
        $scope.$watch('resImageDataURI',function(){
          //console.log('Res image', $scope.resImageDataURI);
        });
      });
  </script>

</body>
</html>